# Project exclude paths
/.gradle/
.idea
.gradle
out
build

src/main/resources/aws.yml
src/main/resources/application.yml
src/main/resources/application-dev.yml
src/main/resources/application-real.yml


