<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="friendRequestAuthWaitModalFragment" class="modal fade" id="friendRequestAuthWaitModal" tabindex="-1" role="dialog" aria-labelledby="friendRequestAuthWaitModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="friendRequestAuthWaitModalLabel">승인대기</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="auth-list">
                    <div class="card col-12">
                        <div class="card-body">
                            <table class="table table-borderless">
                                <thead>
                                <tr>
                                    <th scope="col">이름</th>
                                    <th scope="col">상태</th>
                                    <th scope="col">수락/거절</th>
                                </tr>
                                </thead>
                                <tbody class="inviteList">

                                <!-- 테스트 데이터 -->

                                <tr>
                                    <td>홍길동</td>
                                    <td>친구요청대기</td>
                                    <td>
                                        <button type="button" class="btn btn-primary">수락</button>
                                        <button type="button" class="btn btn-danger">거절</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>둘리</td>
                                    <td>친구요청대기</td>
                                    <td>
                                        <button type="button" class="btn btn-primary">수락</button>
                                        <button type="button" class="btn btn-danger">거절</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>고양이</td>
                                    <td>친구요청대기</td>
                                    <td>
                                        <button type="button" class="btn btn-primary">수락</button>
                                        <button type="button" class="btn btn-danger">거절</button>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                <button type="button" class="btn btn-primary" id="btn-invite">초대하기</button>
            </div>
        </div>
    </div>
</div>


</html>