<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<div th:fragment="sidebarFragment">

    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Developer Pj</h3>
        </div>

        <ul class="list-unstyled components">

            <p>친구 목록</p>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <th:block th:each="friend:${friends}">
                        <li>
                            <a href="#" th:text="${friend.name}"></a>
                        </li>
                    </th:block>
                </ul>
            </li>
        </ul>
    </nav>

</div>

</html>