<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div th:fragment="commentFragment">
        <div class="comment-item">

            <div class="comment-header">
                <!-- 유저 닉네임, 날짜 -->
                <span class="userName" th:text="${comment.name}"></span>
                <span class="modifiedDate" th:text="${comment.modifiedDate}"></span>
                <th:block th:if="${account.name.equals(comment.name)}">
                    <a href="javascript:;" class="btn-comment-delete" th:onclick="|javascript:comment.delete('${comment.id}')|">삭제</a>
                    <a href="javascript:;" class="btn-comment-update" th:onclick="|javascript:commentUpdateView('${comment.id}')|">수정</a>
                </th:block>

            </div>
            <div class="comment-body">
                <!-- 댓글내용 -->
                <p th:id="${'comment_content_'+comment.id}" th:text="${comment.content}"></p>
            </div>
            <div class="comment-footer">
                <!-- 좋아요/싫어요, 답글 -->
                <button type="button" class="btn-like">
                    <img src="/images/like.png">
                </button>
                <span th:text="${comment.likeCount}"></span>
                <button type="button" class="btn-dislike">
                    <img src="/images/dislike.png">
                </button>
                <span th:text="${comment.dislikeCount}"></span>
                <a href="javascript:;" th:onclick="|javascript:commentView('${comment.id}')|">답글</a>
                <th:block th:if="${comment.childCount > 0}">
                    <div>
                        <a href="javascript:;" th:onclick="|javascript:comment.comment_reply_show('${comment.id}')|">
                            <span th:text="${'답글 '+comment.childCount+'개 보기'}"></span>
                        </a>
                    </div>
                </th:block>
                <div class="re-comment" th:id="${'comment_'+comment.id}">
                    <textarea th:id="${'comment_reply_'+comment.id}" class="form-control" placeholder="공개 답글 추가..." maxlength="10000"></textarea>
                    <div class="comment-reply-btn">
                        <button type="button" class="btn btn-secondary" th:onclick="|javascript:comment.comment_reply_cancel('${comment.id}')|">취소</button>
                        <button type="button" class="btn btn-primary" th:onclick="|javascript:comment.comment_reply_save('${comment.id}')|">등록</button>
                    </div>
                </div>
                <div class="comment-update-dialog" th:id="${'comment_update_'+comment.id}">
                    <textarea th:id="${'comment_updated_content_'+comment.id}" class="form-control" placeholder="공개 답글 추가..." maxlength="10000"></textarea>
                    <div class="comment-reply-btn">
                        <button type="button" class="btn btn-secondary" th:onclick="|javascript:comment.comment_update_cancel('${comment.id}')|">취소</button>
                        <button type="button" class="btn btn-primary" th:onclick="|javascript:comment.update('${comment.id}')|">등록</button>
                    </div>
                </div>
            </div>

            <div th:id="${'comment_reply_list_'+comment.id}" class="comment_reply_list">

                <th:block th:each="child:${comment.children}">
                    <div class="comment-item">
                        <div class="comment-header">
                            <!-- 유저 닉네임, 날짜 -->
                            <span class="userName" th:text="${child.name}"></span>
                            <span class="modifiedDate" th:text="${child.modifiedDate}"></span>
                            <th:block th:if="${account.name.equals(child.name)}">
                                <a href="javascript:;" class="btn-comment-delete" th:onclick="|javascript:comment.delete('${child.id}')|">삭제</a>
                                <a href="javascript:;" class="btn-comment-update" th:onclick="|javascript:comment.update('${child.id}')|">수정</a>
                            </th:block>

                        </div>
                        <div class="comment-body">
                            <!-- 댓글내용 -->
                            <p th:text="${child.content}"></p>
                        </div>
                        <div class="comment-footer">
                            <!-- 좋아요/싫어요, 답글 -->

                            <a href="javascript:;" class="btn-like" th:onclick="|javascript:comment.like('${child.id}')|">
                                <img src="/images/like.png">
                            </a>
                            <span th:id="${'likeCount_'+child.id}" th:text="${child.likeCount}"></span>
                            <a href="javascript:;" class="btn-dislike" th:onclick="|javascript:comment.dislike('${child.id}')|">
                                <img src="/images/dislike.png">
                            </a>
                            <span th:id="${'dislikeCount_'+child.id}" th:text="${child.dislikeCount}"></span>
                            <!--
                            <button type="button" class="btn-like">
                                <img src="/images/like.png">
                            </button>
                            <span th:text="${child.likeCount}"></span>
                            <button type="button" class="btn-dislike">
                                <img src="/images/dislike.png">
                            </button>
                            <span th:text="${child.dislikeCount}"></span>
                            -->
                            <a href="javascript:;" th:onclick="|javascript:commentView('${child.id}')|">답글</a>
                            <th:block th:if="${comment.childCount > 0}">
                                <div>
                                    <a href="javascript:;" th:onclick="|javascript:comment.comment_reply_show('${child.id}')|">
                                        <span th:text="${'답글 '+child.childCount+'개 보기'}"></span>
                                    </a>
                                </div>
                            </th:block>
                            <div class="re-comment" th:id="${'comment_'+child.id}">
                                <textarea th:id="${'comment_reply_'+child.id}" class="form-control" placeholder="공개 답글 추가..." maxlength="10000"></textarea>
                                <div class="comment-reply-btn">
                                    <button type="button" class="btn btn-secondary" th:onclick="|javascript:comment.comment_reply_cancel('${child.id}')|">취소</button>
                                    <button type="button" class="btn btn-primary" th:onclick="|javascript:comment.comment_reply_save('${child.id}')|">등록</button>
                                </div>
                            </div>

                        </div>
                    </div>
                </th:block>
            </div>

        </div>
    </div>
</html>