<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="navFragment">

    <nav class="navbar fixed-top navbar-dark bg-dark topbar">
        <h3><a href="/">Developer </a><span>PJ</span></h3>

        <ul class="nav justify-content-end" sec:authorize="isAnonymous()">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="modal" data-target="#joinModal" data-whatever="@getbootstrap" href="#">회원가입</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">로그인</a>
            </li>
        </ul>

        <ul class="nav justify-content-end" sec:authorize="isAuthenticated()">
            <li class="nav-item">

                <a class="nav-link" href="/login" id="userName" th:text="${account.name}"></a>
            </li>
            <li class="nav-item">
                <form action="/logout" method="post" th:action="@{/logout}">
                    <input type="submit" value="로그아웃" class="nav-link btn btn-outline-info my-2 my-sm-0 btn-sm">
                </form>
            </li>
        </ul>


    </nav>
    <!-- 모달-->

    <div th:replace="modal/joinModal :: joinModalFragment"></div>
    <!--
    <div class="modal fade" id="joinModal" tabindex="-1" role="dialog" aria-labelledby="joinModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="joinModalLabel">계정 생성</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="nicName" class="col-form-label font-weight-bold">닉네임</label>
                            <input type="text" class="form-control" id="nicName" minlength="3" maxlength="20" placeholder="닉네임">
                            <small id="nameHelp" class="form-text text-muted">공백없이 문자와 숫자로만 3자 이상 20자 이내로 입력하세요. 가입후에 변경할 수 있습니다.</small>
                        </div>
                        <div class="form-group">
                            <label for="email" class="col-form-label font-weight-bold">이메일</label>
                            <input type="email" class="form-control" id="email" placeholder="이메일">
                            <small id="emailHelp" class="form-text text-muted">이메일은 타인에게 공개하지 않습니다.</small>
                        </div>
                        <div class="form-group">
                            <label for="pw" class="col-form-label font-weight-bold">비밀번호</label>
                            <input type="password" class="form-control" id="pw" minlength="8" maxlength="50" placeholder="비밀번호">
                            <small id="passwordHelp" class="form-text text-muted">8자 이상 50자 이내로 입력하세요. 영문자, 숫자, 특수기호를 사용할 수 있으며 공백은 사용할 수 없습니다.</small>
                        </div>
                        <div id="loading">
                            <img src="/images/loading.gif"/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" id="btn-join">회원가입</button>
                </div>
            </div>
        </div>
    </div>
    -->
</div>

</html>
