<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<div th:fragment="sidebarFragment">

    <div class="sidebar">
        <ul>
            <li><a th:href="@{/group-create}">그룹만들기</a></li>
            <li><a th:href="@{/group-manage}">그룹관리</a></li>
            <li><a href="#">공지사항</a></li>
        </ul>
        <hr>
        <ul>
            <li><a th:href="@{/myGroups}">내가 가입한 그룹</a></li>
            <li><a href="#">내가쓴 게시물</a></li>
            <li><a href="#">내가쓴 댓글</a></li>
        </ul>
    </div>

</div>

</html>