<div class="sidebar">
    <ul>
        <li><a href="/group-create">그룹만들기</a></li>
        <li><a href="#">그룹관리</a></li>
        <li><a href="#">공지사항</a></li>
    </ul>
    <hr>
    <ul>
        <li><a href="#">나의 그룹</a></li>
        <li><a href="#">내가쓴 게시물</a></li>
        <li><a href="#">내가쓴 댓글</a></li>
    </ul>
</div>