*{
     margin:0px;
     padding:0px;
     font-family:sans-serif;
 }
.topbar{
    height:60px
}
.topbar h3{
    color:#fff;
    margin:0;
    text-transform:uppercase;
    font-size:22px;
    font-weight:900;
}
.topbar span{
    color:#1DC4E7;
}
#content-wrapper{
    margin-left: 250px;
    padding-top: 50px;
}
#groupForm{
    margin-top:50px;
}
.posts-save{
    margin-top:50px;
}
#pageTitle{
    margin-top:20px;
}
.passwordCheckboxForm{
    margin-left:15px;
    margin-bottom:10px;
}
#btn-create{
    margin-left:15px;
}
.sidebar{
    background:#151719;
    padding-top:20px;
    position:fixed;
    left:0;
    width:250px;
    height:100%;
}
.sidebar hr{
    border:solid 1px #404142;
    width : 230px;
    margin-left:10px;
    margin-right:10px;
}
.sidebar li,ol,ul{
    list-style:none;
    margin : 0px 0px 0px 0px;
}
.sidebar ul{
    padding-top: 80px 0px;
}
.sidebar ul li{
    color:rgba(230,230,230,0.9);
    list-style:none;
}
.sidebar ul li:hover{
   background:#19B3D3;
}
.sidebar ul li a{
    color:#fff;
    display:block;
    width:100%;
    line-height:60px;
    text-decoration:none;
    padding-left:40px;
    box-sizing:border-box;
    transition:0.5s;
    transition-property:background;
}
.sidebar a :hover{
    background:#19B3D3;
}
.thumbnail{
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

}
.image-container{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

    height:120px;
}
.group-item{
    display: inline-block;
    border-radius:5px 5px 5px 5px;
    border:2px outset rgb(235, 235, 235);
    -webkit-box-shadow: 2px 2px 10px rgba(187, 187, 187, 0.4);
    -moz-box-shadow: 2px 2px 10px rgba(187, 187, 187, 0.4);
    width:390px;
    margin: 20px 20px 20px 20px;
    padding:0px 0px 0px 0px;
    z-index: 1000;
    cursor: pointer;
    position: relative;
}
.group-item:hover{
    transform: scale( 1.05 );
}
.group-title{
    color:rgb(48, 108, 236);
    font-size:20px;
    margin:5px 5px 5px 5px;
}
.group-description{
    margin:5px 5px 5px 5px;
    color:#606060;
    font-family: sans-serif;
	font-size: 16px;
	line-height: 1.6;
	max-height: 4.8em;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
  }
.group-totalNum{
      color:#606060;;
      margin-bottom: 5px;
      margin-left: 5px;
      bottom: 0;
}
.group-option{
    width:24px;
    height:24px;
    float:right;
}
.group-join{
    float:right;
}
.group-card{
    margin-top:10px;
}
#content{
    min-height:500px;
}
.comment-writing{
    margin-top:20px;
}
.comment-item{
    margin-bottom:20px;
}
#loading{
    margin: auto;
    background:#fff;
    text-align: center;
}
#loading img{
    width:50px;
    height:50px;
}
.re-comment{
    margin-top:10px;
    padding-bottom: 25px;
    display:none;
}
.comment-update-dialog{
    margin-top:10px;
    padding-bottom: 25px;
    display:none;
}

.comment-reply-btn{
    float: right;
    margin-top: 5px;
}
#btn-comment-save{
    margin-top:20px;
}
.comment-header>.userName{
    font-weight: bold;
}
.btn-like,.btn-dislike{
    border: 0;
    outline: 0;
    background: #fff;
}
.btn-like>img,.btn-dislike>img{
    width:16px;
    height:16px;
}
.btn-comment-delete,.btn-comment-update{
    padding-left: 8px;
    font-size: 13px;
    margin: 0px 0px 0px 8px;
    display: inline-block;
    float: right;
}
.video-title>p{
      color:#000;
      font-weight:bold;
      font-size: 14px;
      margin:0px;
}
.video-author>span{
      color:#606060;
      font-size: 14px;
}
.video-footer>span{
      color:#606060;
      font-size: 14px;
}
.row .col{
      padding-left: 4px;
      padding-right: 4px;
}
.group-item .col-3{
    padding:0px 0px 0px 0px;
}
.video-item{
      cursor: pointer;
}

#myVideo{
    margin:30px;
    width:640px;
    height:360px;
}
.table tbody tr td{
    vertical-align: middle;
}
.table thead tr th{
    vertical-align: middle;
}
#pageNav{
    margin:0 auto;
}
.comment_reply_list{
    margin-left: 50px;
}

#pageList{
    display: flex;
}