<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/default">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/default.css">
    <link rel="stylesheet" href="/css/chat.css">
</th:block>

<div layout:fragment="content">

    <div th:replace="fragments/nav :: navFragment"></div>
    <div th:replace="fragments/sidebar :: sidebarFragment"></div>
    <div id="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <!-- th:onclick="|window.location.href='@{${'group/'+group.id}}'|" -->
                <input type="hidden" id="chatRoomId" th:value="${chatRoomId}">
                <div id="chat-container">
                    <div id="chat-message-list">
                        <!-- 여기 메세지가 들어옴 -->

                    </div>
                    <div id="chat-form">
                        <!-- <img src="/images/attachment-icon.svg" alt="파일 첨부"/> onkeydown="enterkey()"-->
                        <input id="message"  onkeydown="chat.enterkey()" type="text" placeholder="메세지를 입력하세요"/>
                    </div>
                </div>


            </div>

        </div>
    </div>



    <script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>
    <script src="/js/app/join.js"></script>
    <script src="/js/app/default.js"></script>
    <script src="/js/app/chat.js"></script>

</div>

<!--
<th:block layout:fragment="script">
    <script src="/js/app/group.js"></script>
    <script src="/js/app/join.js"></script>
</th:block>
-->
</html>