<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/default">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/chatroom-list.css">
</th:block>

<div layout:fragment="content">
    <div class="wrapper">
        <div th:replace="fragments/chatroom-list-sidebar :: sidebarFragment"></div>
        <div id="content">
            <div th:replace="fragments/chatroom-list-nav :: navFragment"></div>
            <div class="row">
                <div class="chatroomlist-header">
                    <!-- <a th:href="@{'/video/save/'+${group.id}}" role="button" class="btn btn-primary">동영상 업로드</a> -->
                    <a class="btn btn-primary" data-toggle="modal" data-target="#chatRoomCreateModal" data-whatever="@getbootstrap" href="#">채팅방생성</a>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#inviteModal" data-whatever="@getbootstrap" href="#">친구초대</a>
                </div>
                <!-- th:onclick="|window.location.href='@{${'group/'+group.id}}'|" -->
            </div>
            <th:block th:each="chatRoom:${chatRooms}">
                <div class="card col-8 chatRoom" th:onclick="|window.location.href='@{${'/chatroom/'+chatRoom.roomKey}}'|">
                    <div class="card-body">
                        <a href="#" th:text="${chatRoom.title}"></a>
                    </div>
                </div>
            </th:block>
        </div>
    </div>


    <!-- Modal  내가 가입할 수 있는 모달-->
    <div th:replace="modal/chatRoomCreateModal :: chatRoomCreateModalFragment"></div>
    <div th:replace="modal/inviteModal :: inviteModalFragment"></div>

    <script src="/js/app/join.js"></script>
    <script src="/js/app/default.js"></script>
    <script src="/js/app/invite.js"></script>
    <script src="/js/app/chatroom.js"></script>
</div>

<!--
<th:block layout:fragment="script">
    <script src="/js/app/group.js"></script>
    <script src="/js/app/join.js"></script>
</th:block>
-->
</html>