<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/default">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">

    <link rel="stylesheet" href="/css/chat.css">
    <link rel="stylesheet" href="/css/chatroom-list.css">
</th:block>

<div layout:fragment="content">

    <div class="wrapper">
        <div th:replace="fragments/chatroom-list-sidebar :: sidebarFragment"></div>
        <div id="content">
            <div th:replace="fragments/chatroom-list-nav :: navFragment"></div>
            <div class="row">
                <!-- th:onclick="|window.location.href='@{${'group/'+group.id}}'|" -->
                <input type="hidden" id="roomKey" th:value="${roomKey}">
                <div id="chat-container">
                    <div id="chat-header">

                        <button type="button" class="btn btn-primary"  id="btn-invite"
                                data-toggle="modal" data-target="#chatRoomInviteModal" data-whatever="@getbootstrap">
                            초대하기
                        </button>
                    </div>
                    <div id="chat-message-list">
                        <!-- 여기 메세지가 들어옴 -->
                        <th:block th:each="message:${messages}">
                            <div class="card chat-message-my">
                                <div class="card-body">
                                <span class="card-title chat-message-name" th:text="${message.sender}"></span>
                                <span class="chat-createdDate" th:text="${message.createdDate}"></span>
                                <p class="card-text chat-message-content" th:text="${message.content}"></p>
                                </div>
                            </div>
                        </th:block>
                    </div>
                    <div id="chat-form">
                        <!-- <img src="/images/attachment-icon.svg" alt="파일 첨부"/> onkeydown="enterkey()"-->
                        <input id="message"  onkeydown="chat.enterkey()" type="text" placeholder="메세지를 입력하세요"/>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="modal/chatRoomInviteModal :: chatRoomInviteModalFragment"></div>


    <script src="/webjars/sockjs-client/1.1.2/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/2.3.3-1/stomp.min.js"></script>
    <script src="/js/app/join.js"></script>
    <script src="/js/app/default.js"></script>
    <script src="/js/app/chat.js"></script>

</div>

<!--
<th:block layout:fragment="script">
    <script src="/js/app/group.js"></script>
    <script src="/js/app/join.js"></script>
</th:block>
-->
</html>