<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/default">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/default.css">
</th:block>

<div layout:fragment="content">
    <div th:replace="fragments/nav :: navFragment"></div>
    <div th:replace="fragments/sidebar :: sidebarFragment"></div>
    <div id="content-wrapper">
        <div class="container-fluid">

            <div class="card w-75 text-left group-card">
                <div class="card-body">
                    <input type="hidden" class="form-control" id="groupId" th:value="${group.id}">
                    <h5 class="card-title" th:text="${group.title}"></h5>
                    <p class="card-text"  th:text="${group.description}"></p>
                    <span th:text="${group.currentNum+'명'}"></span>/<span th:text="${group.totalNum+'명'}"></span>
                    <a href="#" class="btn btn-outline-secondary group-join">그룹 탈퇴</a>
                </div>
            </div>

            <nav>
                <div class="nav nav-tabs w-75" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link" id="nav-noti-tab" data-toggle="tab" href="#nav-noti" role="tab" aria-controls="nav-noti" aria-selected="false">공자사항</a>
                    <a class="nav-item nav-link" id="nav-member-tab" data-toggle="tab" href="#nav-member" role="tab" aria-controls="nav-member" aria-selected="false">구성원</a>
                    <a class="nav-item nav-link active" id="nav-board-tab" data-toggle="tab" href="#nav-board" role="tab" aria-controls="nav-board" aria-selected="true">게시글</a>
                    <a class="nav-item nav-link" id="nav-video-tab" data-toggle="tab" href="#nav-video" role="tab" aria-controls="nav-video" aria-selected="false">동영상</a>
                </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade" id="nav-noti" role="tabpanel" aria-labelledby="nav-noti-tab">안녕하세요</div>
                <div class="tab-pane fade" id="nav-member" role="tabpanel" aria-labelledby="nav-member-tab">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">닉네임</th>
                                <th scope="col">등급</th>
                                <th scope="col">가입날짜</th>
                                <!-- th:if="${account.name.equals(post.name)}"-->
                                <th:block th:if="${account.name.equals(group.groupAdmin)}">
                                    <th scope="col">권한수정</th>
                                </th:block>
                            </tr>
                        </thead>
                        <tbody>
                            <th:block th:each="member:${members}">
                                <tr>
                                    <td th:text="${member.name}"></td>
                                    <td th:text="${member.role}"></td>
                                    <td th:text="${member.modifiedDate}"></td>
                                    <th:block th:if="${account.name.equals(group.groupAdmin)}">
                                        <td>
                                            <select id="inputState" class="form-control">
                                                <th:block th:if="${member.role.equals('관리자')}">
                                                    <option selected disabled>관리자</option>
                                                </th:block>
                                                <th:block th:if="${member.role.equals('임시회원')}">
                                                    <option selected>임시회원</option>
                                                    <option>정회원</option>
                                                </th:block>
                                                <th:block th:if="${member.role.equals('정회원')}">
                                                    <option>임시회원</option>
                                                    <option selected>정회원</option>
                                                </th:block>
                                            </select>
                                        </td>
                                    </th:block>
                                </tr>

                            </th:block>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="nav-video" role="tabpanel" aria-labelledby="nav-video-tab">
                    <br/>
                    <div class="video-header">
                        <!-- <a th:href="@{'/video/save/'+${group.id}}" role="button" class="btn btn-primary">동영상 업로드</a> -->
                        <a class="btn btn-primary" data-toggle="modal" data-target="#videoUploadModal" data-whatever="@getbootstrap" href="#">동영상 업로드</a>
                    </div>
                    <br/>

                    <div class="row">
                        <th:block th:each="video:${videos}">
                            <div class="video-item col-3" th:onclick="|window.location.href='@{${'../watch/v/'+video.id}}'|">
                                <video oncontextmenu="return false;" class="col">
                                    <source th:src="@{'/watch/'+${video.fileName}+'#t=2.5'}" type="video/mp4">
                                </video>
                                <div class="video-title col">
                                    <p th:text="${video.title}"></p>
                                </div>
                                <div class="video-author col">
                                    <span th:text="${video.name}"></span>
                                </div>
                                <div class="video-footer col ">
                                    <span th:text="${'조회수 '+video.clickCount+'회'}"></span>
                                    <span th:text="${video.modifiedDate}"></span>
                                </div>

                            </div>
                        </th:block>
                    </div>

                </div>
                <div class="tab-pane fade show active" id="nav-board" role="tabpanel" aria-labelledby="nav-board-tab">
                    <br/>
                    <div class="board-header">
                        <a th:href="@{'/post/save/'+${group.id}}" role="button" class="btn btn-primary">글 등록</a>
                    </div>
                    <br/>
                    <div class="board-body">
                        <table class="table w-75 table-horizontal table-bordered">
                            <thead class="thead-strong">
                            <tr>
                                <th style="width:10%">게시글</th>
                                <th style="width:70%">제목</th>
                                <th style="width:10%">작성자</th>
                                <th style="width:10%">최종 수정일</th>
                            </tr>
                            </thead>
                            <tbody id="tbody" th:each="post:${posts}">
                            <tr>
                                <td style="width:10%" th:text="${post.id}"></td>
                                <td style="width:70%" ><a th:href="@{'/post/read/'+${group.id}+'/'+${post.id}}" th:text="${post.title}"></a></td>
                                <td style="width:10%" th:text="${post.name}"></td>
                                <td style="width:10%" th:text="${post.modifiedDate}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="board-footer row w-75">
                        <nav aria-label="Page navigation" id="pageNav">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <th:block th:each="pageNum:${pageList}">
                                    <li class="page-item">
                                        <a class="page-link" th:href="@{'/group/'+${group.id}}+'?page='+${pageNum}" th:text="${pageNum}"></a>
                                    </li>
                                </th:block>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 모달-->
    <div class="modal fade" id="videoUploadModal" tabindex="-1" role="dialog" aria-labelledby="videoUploadModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="videoUploadLabel">동영상 업로드</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="videoForm">
                        <div class="form-group">
                            <label for="videoFile" class="col-form-label font-weight-bold">파일선택</label>
                            <input type="file" class="form-control" id="videoFile" placeholder="첨부파일">
                            <small id="videoHelp" class="form-text text-muted">300MB 제한 입니다.</small>
                        </div>
                        <div class="form-group">
                            <label for="videoTitle" class="col-form-label font-weight-bold">업로드 제목</label>
                            <input type="text" class="form-control" id="videoTitle" minlength="2" maxlength="50" placeholder="제목" >
                            <small id="videoTitleHelp" class="form-text text-muted">2~50글자 제한</small>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" id="btn-video-upload">업로드</button>
                </div>
                <div id="loading" style="display:none">
                    <img src="/images/loading.gif"/>
                </div>
            </div>
        </div>
    </div>

    <script src="/js/app/group.js"></script>
    <script src="/js/app/join.js"></script>
    <script src="/js/app/video.js"></script>
    <script src="/js/app/default.js"></script>
</div>

<!--
<th:block layout:fragment="script">
    <script src="/js/app/group.js"></script>
    <script src="/js/app/join.js"></script>
</th:block>
-->
</html>