<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      layout:decorator="layout/default">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/default.css">
</th:block>

<div layout:fragment="content">
    <div th:replace="fragments/nav :: navFragment"></div>
    <div th:replace="fragments/sidebar :: sidebarFragment"></div>
    <div id="content-wrapper">
        <div class="container-fluid">
            <div class="container">
                <h2 id="pageTitle">그룹 만들기</h2>
                <form id="groupForm">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="title">그룹 이름</label>
                            <input type="text" maxlength="30" class="form-control" id="title"  placeholder="그룹 이름">
                        </div>
                        <div class="form-group col-md-2">
                            <label for="totalNum">참여인원</label>
                            <input type="number" class="form-control" id="totalNum"  min="1" max="100" name="totalNum" placeholder="참여인원">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label for="description">그룹 설명</label>
                            <input type="text" maxlength="250" class="form-control" id="description"  placeholder="그룹 설명">
                        </div>
                    </div>
                    <div class="form-row" id="passwordGroup" style="display:none">
                        <div class="form-group  col-md-8" >
                            <label for="password">비밀번호</label>
                            <input type="password" maxlength="128" class="form-control" id="password" placeholder="비밀번호 입력">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-check form-check-inline passwordCheckboxForm">
                            <input class="form-check-input" type="checkbox" id="passwordCheck">
                            <label class="form-check-label" for="passwordCheck">그룹 참여에 비밀번호를 설정 하시겠습니까?</label>
                        </div>
                    </div>

                    <br/>
                    <div class="form-row">
                        <div class="form-group col-md-2">
                            <label for="groupThumbnail">그룹 섬네일</label>
                            <input type="file"  id="groupThumbnail" name="file" placeholder="첨부파일">
                        </div>
                    </div>

                    <button type="button" class="btn btn-primary" id="btn-create">등록</button>
                </form>
            </div>
        </div>
    </div>
    <th:block layout:fragment="script">
        <script src="/js/app/group.js"></script>
    </th:block>
</div>



</html>