{{>fragments/header}}
<body>
<div>
    {{>fragments/navigationbar}}
    {{>fragments/sidebar}}
    <div id="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                {{#groups}}
                    <div class="group-item" onclick="location.href='/group/{{id}}'">
                        <div>
                            <div class="image-container">
                                <img class="thumbnail" src="/file/{{thumbnail}}"/>
                            </div>
                            <h3 class="group-title">{{title}}</h3>
                            <p class="group-description">{{description}}
                            </p>
                            <span class="group-totalNum">{{totalNum}}명</span>
                        </div>
                    </div>
                {{/groups}}
            </div>

        </div>
    </div>
</div>
{{>fragments/script}}
</body>
</html>