<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/default">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/default.css">
</th:block>

<div layout:fragment="content">

    <div th:replace="fragments/nav :: navFragment"></div>
    <div th:replace="fragments/sidebar :: sidebarFragment"></div>
    <div id="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <!-- th:onclick="|window.location.href='@{${'group/'+group.id}}'|" -->
                <th:block th:each="group:${groups}">
                    <div class="group-item col-3" th:onclick="|javascript:group.groupItemClick('${group.id}','${group.isSecretRoom}')|">
                        <div class="image-container col">
                            <img class="thumbnail" th:src="@{${'file/'+group.thumbnail}}"/>
                        </div>
                        <div class="group-mid col">
                            <h3 class="group-title" th:text="${group.title}"></h3>
                            <p class="group-description" th:text="${group.description}">
                            </p>
                        </div>
                        <div class="col">
                            <span class="group-totalNum" th:text="${group.totalNum+'명'}"></span>
                            <th:block th:if="${group.isSecretRoom}==true">
                                <span><img class="group-option" src="/images/key.png"></span>
                            </th:block>
                        </div>
                    </div>
                </th:block>

            </div>

        </div>
    </div>
    <!-- Modal  내가 가입할 수 있는 모달-->
    <div class="modal fade" id="groupJoinModal" tabindex="-1" role="dialog" aria-labelledby="groupJoinModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="groupJoinModalLabel">그룹에 가입하시겠습니까?</h5>
                    <input type="hidden" id="groupJoinId">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" id="btn-groupJoin">가입</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 비밀그룹일때 나오는 모달 -->
    <div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="passwordModalLabel">그룹 비밀번호 확인</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <input type="password" class="form-control" id="groupPassword">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                    <button type="button" class="btn btn-primary" id="btn-passwordCheck">확인</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/app/group.js"></script>
    <script src="/js/app/join.js"></script>
    <script src="/js/app/default.js"></script>
</div>

<!--
<th:block layout:fragment="script">
    <script src="/js/app/group.js"></script>
    <script src="/js/app/join.js"></script>
</th:block>
-->
</html>