<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorator="layout/default">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/default.css">
</th:block>

<div layout:fragment="content">

    <div th:replace="fragments/nav :: navFragment"></div>
    <div th:replace="fragments/sidebar :: sidebarFragment"></div>
    <div id="content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="group-item" th:each="group:${groups}" th:onclick="|window.location.href='@{${'group/'+group.id}}'|">
                    <div>
                        <div class="image-container">
                            <img class="thumbnail" th:src="@{${'file/'+group.thumbnail}}"/>
                        </div>
                        <h3 class="group-title" th:text="${group.title}"></h3>
                        <p class="group-description" th:text="${group.description}">
                        </p>
                        <span class="group-totalNum" th:text="${group.totalNum+'명'}"></span>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <script src="/js/app/group.js"></script>
    <script src="/js/app/join.js"></script>
    <script src="/js/app/default.js"></script>
</div>

<!--
<th:block layout:fragment="script">
    <script src="/js/app/group.js"></script>
    <script src="/js/app/join.js"></script>
</th:block>
-->
</html>