<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">

<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <link rel="stylesheet" href="/css/default.css">
</th:block>
<div layout:fragment="content">
    <div class="container">
        <h3>로그인</h3>
        <form action="/login" method="post">
            <div class="form-group">
                <label for="recipient-email" class="col-form-label">이메일</label>
                <input type="text" class="form-control" id="email" name="email" placeholder="이메일">
                <small id="emailHelp" class="form-text text-muted">가입할 때 사용한 이메일을 입력해주세요</small>
            </div>
            <div class="form-group">
                <label for="recipient-password" class="col-form-label">비밀번호</label>
                <input type="password" class="form-control" id="password" name="password" minlength="8" maxlength="50">
                <small id="passwordHelp" class="form-text text-muted">비밀번호가 기억나지 않는다면 <a href="#">비밀번호 찾기</a></small>
            </div>
            <div>
                <!--id="btn-login" -->
                <button type="submit" class="btn btn-primary">로그인</button>
            </div>
        </form>
    </div>

</div>


<th:block layout:fragment="script">
    <script src="/js/app/join.js"></script>
</th:block>
</html>